<% if !logged_in? %>
    <h2>Sign Up</h2>
<% else %>
    <h2>Register a New User</h2>
<% end %>

<%= render 'form' %>

  <br>
  <% if !logged_in? && request.env['PATH_INFO'] == new_user_path %>
      <p>Already have an account? <%= link_to "Login", root_path %></p>
  <% end %>
